{% extends 'bt.html.twig' %}

{% block title %}查看会员详情{% endblock %}

{% block body %}
    <h1>查看会员详情</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>账户</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>手机</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>头像</th>
                <td><a href='{{ user.headImg }}' target='_blank'>点击查看</a></td>
            </tr>
            <tr>
                <th>昵称</th>
                <td>{{ user.realName }}</td>
            </tr>
            <tr>
                <th>性别</th>
                <td>{{ user.sex }}</td>
            </tr>
            <tr>
                <th>等级</th>
                <td>{{ user.level }}</td>
            </tr>
            <tr>
                <th>备注</th>
                <td>{{ user.mark }}</td>
            </tr>
            <tr>
                <th>积分</th>
                <td>{{ user.totalPoint }}/{{ user.point }}</td>
            </tr>
            <tr>
                <th>创建日期</th>
                <td>{{ user.createAt }}</td>
            </tr>
            <tr>
                <th>更新日期</th>
                <td>{{ user.updateAt }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_app_member_index') }}">back to list</a>

    <a href="{{ path('admin_app_member_edit', {'id': user.id}) }}">edit</a>

{% endblock %}
